<div class="container py-5">

    <button (click)="createBlock()" class="btn btn-warning">Click Me</button>

    <br><br>

    <div *ngIf="isValid; then thenblock else elseblock"></div>

    <ng-template #elseblock>
        <div class="text-bg-primary p-2">No block created yet click to create</div>
    </ng-template>

    <ng-template #thenblock>
        <div class="bg-warning p-2">Block Created Successfully</div>
    </ng-template>


    <br><br><br>

    <div class="container">
        <div class="col-md-4">
            <select class="form-control" (change)="getValue($event)">
                <option value="default">Select at least one option</option>
                <option value="Laptop">Laptop</option>
                <option value="Mobile">Mobile</option>
                <option value="Television">Television</option>
                <option value="Speaker">Speaker</option>
                <option value="Keyboard">Keyboard</option>
                <option value="Mouse">Mouse</option>
            </select>
        </div>
        <div class="py-2 my-5" [ngSwitch]="selectedProducts">
            <h2 class="text-bg-warning text-center py-3" [class.py-2]="onmsgshow" *ngSwitchDefault>Select at least one
                option
            </h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Laptop'">Laptop</h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Mobile'">Mobile</h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Television'">Television
            </h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Speaker'">Speaker</h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Keyboard'">Keyboard</h2>
            <h2 class="text-bg-success text-center" [class.py-2]="onmsgshow" *ngSwitchCase="'Mouse'">Mouse</h2>