<div class="container">
    <h1 class="py-5 text-center">Products</h1>
    <p class="pb-5">Shoe brands are diverse and cater to a wide range of tastes and preferences. From industry giants
        like Nike and
        Adidas,
        known for their innovative athletic footwear, to iconic classics like Converse's Chuck Taylor All Stars, which
        have
        remained popular for generations, the world of shoes offers something for everyone. Brands like Puma blend sport
        and
        style, while Timberland's rugged boots are synonymous with outdoor adventures. Each brand carries its own
        identity,
        symbolizing performance, fashion, comfort, or even rebellion, making the world of footwear a fascinating mix of
        function
        and style.
    </p>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Nike Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a routerLink="nikeshoes">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Reebok Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a routerLink="adidasShoes">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Puma Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a routerLink="adidasShoes">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Adidas Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a routerLink="adidasShoes">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Hush Puppies Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Asics Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 pb-4">
                    <div class="card">
                        <div class="imgBx">
                            <img src="http://pngimg.com/uploads/running_shoes/running_shoes_PNG5782.png"
                                alt="nike-air-shoe">
                        </div>

                        <div class="contentBx">

                            <h2>Skechers Shoes</h2>

                            <div class="size">
                                <h3>Size :</h3>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>

                            <div class="color">

                                <h3>Color :</h3>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <a href="#">Buy Now</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>