<div class="container py-5 custom">
  <app-userpanel [placeHolderText]="'Create User'" class="c1" (inputEvent)="onCreateUser($event)"
    [count]="usercount"></app-userpanel>
  <app-userpanel [placeHolderText]="'Create Admin'" class="c2" (inputEvent)="onCreateAdmin($event)"
    [count]="admincount"></app-userpanel>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" *ngIf="userexistence">
      <table class="table table-dark table-striped table-hover table-bordered align-middle text-center">
        <thead>
          <tr>
            <th class="w-100" colspan="2">User Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList; index as i">
            <td class="w-100">{{user.userName}}</td>
            <td><button class="btn btn-danger" (click)="userRemove(i)"><i class="ri-close-line"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- User Data -->
    <div class="col-md-6" *ngIf="adminexitance">
      <table class="table table-dark table-striped table-hover table-bordered align-middle text-center">
        <thead>
          <tr>
            <th class="w-100" colspan="2">Admin Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of adminList; index as i">
            <td class="w-100">{{admin.adminName}}</td>
            <td><button class="btn btn-danger" (click)="adminRemove(i)"><i class="ri-close-line"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>